Per {{br}} {{#em}}favore{{/em}}: ti preghiamo di posizionare il Cubo da Immagazzinamento sul Super-Pulsante Super-Collidente Da Impiego Pesante Classe 1500 {{#pron}}Mégavattt{{/pron}} di {{aperture_science}}.