Attenti: è possibile avere sentore di sangue nel cavo orale. Non fa parte di alcun protocollo di test; ma è un effetto collaterale della {{br}} Griglia di Emancipazione Materiali di {{aperture_science}}, la quale, in casi {{br}} semiràri {{br}} può emancipare: otturazioni dentali, corone, smalto dentale, e {{#em}}denti{{/em}}.