Anche se la sicurezza è uno degli obiettivi del {{enrichment_center}}, le Sfere Ad Alta Energia di {{aperture_science}}, visibili alla sinistra della stanza, possono generare e hanno generato infermità permanenti, come ad esempio la vaporizzazione.
