{{#em}}Si{{/em}} prenda nota! Abbiamo aggiunto {{br}} una conseguenza per il fallimento. Qualsiasi contatto con {{br}} il fondo della camera {{br}} risulterà in un {{br}} "non sufficiente" sulla tua scheda di valutazione, subito seguìto {{br}} dalla morte. Buona fortuna!