Salve ancòra. Per reiterare il nostro {{#pron}}{{#slower}}precedèn{{/slower}} {{#fast}}te avvertimè avvertimè{{/fast}}{{#faster}}avvertimento cade cade cade cade e il mo mo mo mo mo{{/faster}}{{/pron}} {{#slow}}momènto{{/slow}} di moto.