{{#comment}}
	Questo va riscritto con tag appropriati, di modo che non abbia tag Apple dentro.
{{/comment}}

[[rate +200]]la la la[[rate -200]] [[rate +200]]la la la[[rate -200]] [[rate +250]]la la la[[rate -250]] lanciarti. Lanciarti in ava [[rate +200]]a a[[rate -200]] [[rate +200]]a a[[rate -200]] [[rate +250]]a a a a a a a a a ava[[rate -250]]nti.