Bene, androide. Il {{enrichment_center}} ti ricorda che {{br}} {{#slightly_slower}}l'inferno degli androidi{{/slightly_slower}} {{br}} esiste davvero, e {{#em}}tu ci andrai{{/em}} al primo segno di insubordinazione.