Ti assicuriamo {{br}} che un comitato etico indipendente {{br}} ha assolto: {{aperture_science}}, tutti i suoi dipendenti, e tutti i soggetti di test {{br}} da ogni responsabilità etico-morale {{br}} per il processo di eutanizzazione del Cubo da Compagnia.