Anche se il processo di eutanizzazione è {{br}} decisamente doloroso, otto {{br}} dipendenti {{aperture_science}} interpellati {{br}} su dieci {{br}} credono che il Cubo da Compagnia non possa in realtà sentire granché dolore.