Il {{enrichment_center}} ti ricorda quanto segue. Il tuo {{br}} Cubo da Compagnia {{br}} non ti minaccerà mai con un coltello; ed in effetti {{#slightly_faster}}non può nemmeno{{/slightly_faster}} parlare.