Il Cubo da Compagnia non è parte dei test che seguono questo: inoltre, leggi e regolamenti regionali e statali gli impediscono di rimanere qui. Solo. Senza un compagno. È certamente necessario dunque {{#slow}}eutanizzarlo{{/slow}}.