Capiamo che sia stato un fedele compagno in questa stanza; ma il Cubo da Compagnia {{br}} non può accompagnarti nel resto dei test. Se potesse parlare; e il {{enrichment_center}} coglie al volo l'occasione per ricordarti che non può farlo; ti direbbe che preferirebbe morire nel fuoco {{br}} piuttosto che diventare un fardello per te.