Il regolamento interno del {{enrichment_center}} richiede entrambi le mani libere prima che la {{#slow}}torta{{/slow}} {{#fast}}tortatortatortatorta{{/fast}}{{#faster}}tortatortatortatortatortatorta{{/faster}}!